
/***********

SOMMAIRE :

1 - Accueil
2 - Header
3 - Navigation
4 - Compétences
5 - Projets
6 - Profil
7 - Qualités
8 - Contact
9 - Footer
10 - Responsive 




/******************! Accueil (1) *******************/

html, body {
    height:100%;
	width:100%;
}

body {
	font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Dosis', sans-serif;

}
a {
	color: #000000;
	transition: 0.4s ease all;
	outline: none;
}
a:hover,a:active,a:focus{
	text-decoration: none;
	color: #ffff00;
	opacity: 0.9;
	outline: none;
}
.btn {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    font-size: 1.2em;
    transition: 0.4s ease all;
}
.btn:hover {
    background: #fff;
    color: #000;
}
.block_title {
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
    margin-bottom: 80px;

}
.block_title:before,.block_title:after {
    content: "";
    background: #ccc;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}
.block_title:before {
    right: 0.5em;
    margin-left: -42%;
}
.block_title:after {
    left: 0.5em;
    margin-right: -42%;
}


/******************! HEADER (2) *******************/

header{
	background: url(../images/hehe.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% -50px;
}
.center {
    text-align: center;
    color: #fff;
}
.bigheadline {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 10em;
	margin: 0;
}
.subheadline {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 200;
	font-size: 3em;
	margin: 0;
}

.scrollDown {
    font-size: 4em;
   
	color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 10%;
    left: 49%;
}
.scrollDown:hover{
	 color: #ffff00;
	transition: 0.4s ease all;
}

/******************! NAVIGATION (3) *******************/

#navigation{
	background: #111;
}
.nav-wrap {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}



.logo {
	height: 76px;
	display: table;
	text-align: left;
}

.logo-text {
    font-size: 3em;
    padding: 0.2em 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    display: table-cell;
	vertical-align: middle;
}

.menu {
    float: right;
    font-size: 3em;
    color: #fff;
    padding-top: 10px;
}
.dropdown-menu {
    min-width: 240px;
    right: 0;
    left: auto;
    border: 1px solid #000;
    box-shadow: none;
    border-radius: 0px;
    margin-top: 5px;
}
.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 1em 2em;
    margin-top: 5%;
}
.dropdown-menu ul li {
    padding: 0.3em 0em 0.6em 0em;
    font-size: 1.3em;
    position: relative;
}
.dropdown-menu ul li a i {
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 25px;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
	border-bottom: 8px solid white;
	float: right;
	margin-top: -5%;
	margin-right: 23px;
}


/******************! COMPETENCES (4) *******************/


.h2compet {
	margin-top: 6%;
}



.competences {
margin-top: 5%;
background-size: cover;
background: url(../images/compet.png) ;
margin-bottom: 3%;
}




.haut {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width:100%
}

.haut img {
	-webkit-filter: grayscale(0) blur(0px);
	filter: grayscale(0) blur(0px);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.haut #html:hover, #css:hover, #js:hover, #php:hover {

	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }


  .bas {
	display: flex;
	justify-content: space-around;
		flex-wrap: wrap;
	margin-top: 5%;
	width:100%
}

.bas img {
	-webkit-filter: grayscale(0) blur(0px);
	filter: grayscale(0) blur(0px);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.bas #wd:hover, #git:hover, #figma:hover, #sql:hover {

	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }





	

/******************! PROJETCS (5) *******************/


#portfolio {
    padding: 80px 0px 0px 0px;
}

.port {
	list-style: none;
	text-align: left;
	padding-bottom: 40px;

}

.port .item {
	display: inline-block;
	text-align: left;
	position: relative;
}

.port figure {
	margin: 0;
	position: relative;
}

.port figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.port figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #111;
	color: #ffff00;
}

.port figcaption h3 {
	margin: 0px 0px 8px 0px;
	padding: 0;
	color: #ffff00;
}

.port figcaption span:before {
	content: 'by ';
}

.port figcaption a {
	text-align: center;
	padding: 8px 15px;
	display: inline-block;
	color: #ffff00;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 85px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 31px;
	right: 20px;
}
.button{
	background: transparent;
	border: 1px solid #fff;
}
.button:hover {
    background: white;
    color:#000000;
}
.btn-center {
    display: block;
    padding: 80px 0px 60px 0px;
    text-align: center;
}
.big.button {
    border: 1px solid #000;
    font-size: 2em;
    color: #000;
    padding: 15px 30px;
}
.big.button:hover {
    background: #000;
    color: #ffff00;
}
.item-space {
    margin-bottom: 3%;
}

/******************! PROFIL (6) *******************/

#testimonial {
    background: url(../images/parallax.jpg);
    padding: 80px 0px 80px 0px;
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
}

.yk {
	text-shadow: -1px -1px 0 rgb(0, 204, 255), 1px -1px 0 rgb(0, 204, 255),
	-1px 1px 0 rgb(0, 204, 255), 1px 1px 0 rgb(0, 204, 255),
	1px 1px 10px #000000;
	color : rgb(0, 0, 0);
	
}

.testimonila-block {
    text-align: center;
}
.testimonila-block img {
	border-radius: 50%;
	border: 1px solid #000;
	margin-bottom: 30px;
	
}
.testimonila-block p {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 18px;
}
.testimonila-block strong {
    font-size: 3em;
}

.maincv {
	margin-top: 5%;
}

.cv {
	text-decoration: none;
	border: 3px solid rgb(0, 204, 255);
	color: transparent;
	padding: 3px 40px;
	font-size: 28px;
	font-family: sans-serif;
	letter-spacing: 5px;
	transition: all 0.5s;
	position: relative;

  }
  .cv:before {
	content: "Télécharger mon CV";
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 204, 255);
	background: rgb(34, 34, 34);
	font-size: 28px;
	top: 0;
	left: 100%;
	font-family: sans-serif;
	letter-spacing: 5px;
	transition: all 1s;
	height: 100%;
	width: 100%;
	position: absolute;
	transform: scale(0) rotatey(0);
	opacity: 0;
  }
  .cv:hover:before {
	transform: scale(1) rotatey(360deg);
	left: 0;
	opacity: 1;
  }
  .cv:after {
	content: "Télécharger mon CV";
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 204, 255);
	background: rgb(34, 34, 34);
	font-size: 28px;
	top: 0;
	left: 0;
	font-family: sans-serif;
	letter-spacing: 5px;
	transition: all 1s;
	height: 100%;
	width: 100%;
	position: absolute;
	transform: scale(1) rotatey(0);
	opacity: 1;
  }
  .cv:hover:after {
	transform: scale(0) rotatey(360deg);
	left: -100%;
	opacity: 0;
  }
  

/******************! QUALITE (7) *******************/

.services {
    max-width: 293px;
    height: 263px;
}
.exp{
	padding-top: 76px;
}
.service-area {
    margin-bottom: 2%;
}

.service-wrap {
    width: 100%;
    height: 100%;
    border: 1px solid #B5B5B5;
    text-align: center;
    display: block;
}
.service-wrap i {
    margin-top: 40px;
    transition: all 0.3s ease;
}
.service-wrap:hover i {
    color: #000000;
}
.service-wrap p {
    padding: 0px 40px;
    font-size: 13px;
}
.service-wrap h3 {
    margin: 10px 0px;
}
.pe-dj {
    font-size: 5em;
}

/******************! CONTACT (8) *******************/



#contact {
    color: rgb(0, 0, 0);
}


#contact-area {
    background-image: url("https://www.lamelanz.com/wp-content/uploads/2021/01/contatti.jpg");
	background-size: cover;
    padding: 40px 0px 50px 0px; 
}

.icons {
display: flex;
justify-content: space-evenly;

}

.h4icons {
	text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 1px 1px 10px #000000;
	color: #000000;
	font-size: 30px;
}


#mail {

	text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 1px 1px 10px #000000;
	color: #000000;
	font-size:25px;
}

#mail:hover {
	background-color: rgb(84, 0, 101);
  }



.social {
	display: flex;
margin-left: 75%;
	margin-top: 8%;
}

.social #gitou {
	margin-right: 15%;
}

.social img {
	width: 75px;
	cursor: pointer;
}



.social img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.social #link:hover, #gitou:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


/******************! FOOTER (9) *******************/


* {
	margin:0px;
	padding:0px;
	}
	
	html {
	font-family: "Zen Dots Regular";
	}
	
	@font-face {
	font-family: "Zen Dots Regular";
	src: url("../zen-dots/ZenDots-Regular.ttf");
	}
	
	
	/***** MOYEN DE PAIMENTS BLEU *****/
	
	
	nav {
	background-color: rgb(12, 12, 114);
	height: 65px;
	}
	
	.paiments {
		display: flex;
		justify-content: space-around;
		margin-left: 10%;
		padding: 10px;
	}
	
	.pnav{
	color: white;
	margin-top: 1%;
	}
	
	.imageicon {
	width: 40px;
	margin-right: 9%;
	}
	
	
	
	/***** FOOTER *****/
	
	
	footer {
	background-color: #2d2b2b;
	height:120px;

	}




	.p-footer {
	color: white;
	font-size: 22px;
	}

	.main{
	display: flex;
	justify-content: space-around;
	padding-top: 3%;
	}
	
	.mention {
	display: flex;
	}
	
	.flag {
	display: flex;
	}

	
	.copy{
	display: flex;
	} 
	
	
	

/******************! RESPONSIVE (10) *******************/



@media all and (min-width: 1400px) {
	.centered p {
		font-size: 3em;
	}
	.bigheadline {
		font-size: 15em;
	}
	.subheadline {
		font-size: 5em;
	}
}

@media all and (max-width: 1200px) and (min-width: 992px) {

	.services {
		max-width: 293px;
		height: 213px;
	}
	.service-wrap i {
	    font-size: 4em;
	    margin-top: 28px;
	}
	.service-wrap h3 {
	    font-size: 1.4em;
	}
	.service-wrap p {
	    font-size: 11px;
	    padding: 0px 35px;
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {

	.services {
		max-width: 293px;
		height: 293px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.service-wrap p {
		padding: 0px 40px;
		font-size: 14px;
	}
	.pe-dj {
		font-size: 6em;
	}

}

@media all and (max-width: 991px) {

	header{
		background: url(../images/hehe.jpg) no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: 50% -50px;
	}
}

@media all and (max-width: 768px) {
	.services {
		max-width: 293px;
		height: 293px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.pe-dj {
		font-size: 6em;
	}
	.service-wrap i {
		margin-top: 50px;
	}
	.centered p {
		font-size: 2em;
	}
	.bigheadline {
		font-size: 6em;
	}
	.subheadline {
		font-size: 2em;
	}
	.item-space figure {
	    max-width: 360px;
	    margin: 0 auto;
	}
	.moreDetails {
		margin-bottom: 60px;
	}
	.copyright, .designed {
		text-align: center;
	}
	.scrollDown {
	    top: 70%;
	    left: 46%;
	}
}


@media all and (max-width: 480px) {

		.scrollDown {
		top: 70%;
		left: 44%;
		}
	}


@media  screen and (min-width: 426px) and (max-width: 1024px) { 

		.social {
		margin-left: 8%;
		margin-top: 25%;
		}
		
		.h4icons {
		
		font-size: 20px;
		} 
		
		.icons {
		
		flex-direction: column;
		}
		
		#mail {
		
		font-size:20px;
		}
		
		
		.bas {
		width:90%
		}
		
		.haut {
		
		width:90%
		}
		
		
		.cv {
		
		padding: 3px 10px;
		font-size: 10px;
		margin-top: 10%;
		
		} 
		}

	 @media all and (max-width: 380px) {


		.logo-text {
			font-size: 2em;
		}
		.centered p {
			font-size: 1em;
		}
		.bigheadline {
			font-size: 4em;
		}
		.subheadline {
			font-family: 'Titillium Web',sans-serif;
			font-size: 1.5em;
			font-weight: 200;
			margin: 0;
		}
		.testimonila-block p {
			max-width: 90%;
		}
		.social-icons a {
			width: 30px;
			height: 30px;
		}
		
	}


 @media  screen and (min-width: 320px) and (max-width: 425px) { 


		.social {
		margin-left: 8%;
		margin-top: 25%;
		}

		.h4icons {

		font-size: 20px;
		} 

		.icons {

		flex-direction: column;
		}

		#mail {

		font-size:20px;
		}


		.bas {
		width:90%
		}

		.haut {

		width:90%
		}


		.cv {

		padding: 3px 10px;
		font-size: 10px;
		margin-top: 10%;


		} 
	}

 

